{% extends 'linkScanner/base.html' %}
{% block body %}

<!DOCTYPE html>
<html>
<head>
    <title>Phishing Education</title>
</head>
<body>
    <h1>Welcome to Phishing Education</h1>
    
    {% for question in questions %}
        <div>
            <p>{{ question.question_text }}</p>
            <form method="post" action="{% url 'phishing_app:check_answer' question.id %}">
                {% csrf_token %}
                <input type="text" name="user_answer" required>
                <input type="submit" value="Submit">
            </form>
        </div>
    {% endfor %}
</body>
</html>

{% endblock body %}