{% extends 'linkScanner/base.html' %} {% block body %}
<style>
  body {
    background-image: url("/static/linkScanner/c1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
  }

  .content {
    margin-left: 5%;
    width: 90%;
    max-width: 90%;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 5%;
  }

  #prev,#next{
    background-color: rgb(5 181 181);
    border-radius: 5px;
    font-size: large;
    padding: 10px;
    margin-left: 50px;
    margin-top: 20px;
    color: #051b56;
  }
  #prev{
    margin-right: 35%;
  }
  .mod{
    background-color: rgb(5 181 181);
    border-radius: 5px;
    font-size: large;
    padding: 10px;
    display: inline;
    margin-right: 38%;
    color: #051b56;
  }
</style>
  <div class="buttons">
    <a href="/module2"><button id="prev"><b>Prev</b></button></a>
    <h1 class="mod">Module 3</h1>
    <a href="/module1"><button id="next"><b>Next</b></button></a>
  </div>

<body>
  <section id="another-section">
    <div class="content">
      <h1 style="text-align: center">
        How To Distinguish between a Fake Website and a Real Website?
      </h1>
      <p><ul>
        <li>
        <b>Check the URL of the website:</b> A good and legal website always uses a
        secure medium to protect yourself from online threats. So, when you
        first see a website link, always check the beginning of the website.
        That means if a website is started with https:// then the website is
        secure because https:// s denotes secure, which means the website uses
        encryption to transfer data, protecting it from hackers. If a website
        uses http:// then the website is not guaranteed to be safe. So, it is
        advised not to visit HTTP websites as they are not secure.</li>
        <li><b>Check the domain name of the website:</b> The attackers generally create a website
            whose address mimic of large brands or companies like
            www.amazon.com/order_id=23. If we look closely, we can see that it’s a
            fake website as the spelling of Amazon is wrong, that is amazon is
            written. So it’s a phished website. So be careful with such types of
            websites.</li>
        <li><b>Check for the available web pages:</b> A fake website does not
            contain the entire web pages that are present in the original website.
            So when you encounter fake websites, then open the option(links) present
            on that website. If they only display a login page, then the website is
            fake.</li>
      </ul>
      </p>
    </div>
  </section>
</body>
{% endblock body %}
